*{
  margin: 0;
}
.App{
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 900px;
   
  }

  .form{
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    
  }

  input{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #a9b8cb;
    font-size: 24px;
  }

  .data-container{
   margin: 250px;
    background-color: #79CBCA;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .data{
    background:pink; 
    border:1px soild black; 
    border-radius:5px;
    padding: 5px;
    margin: 10px;
  }

  button{
    background-color: #77A1D3;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
  }
 